<!DOCTYPE html>
<html lang="en">
<head>
  <title>Url Shortener | url.subgans.ru</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
</head>
<body>

  <div class="container-urlshort">
    <div class="wrap-urlshort">
      <form class="urlshort-form validate-form" action"/" method="POST">
        <span class="urlshort-form-title">
          URL Shortener
        </span>

        <div class="wrap-input100 validate-input" data-validate="Please enter url">
          {% if short_url %}
            <input class="input100" type="text" name="url" value="{{ short_url }}" placeholder="Enter url" onclick="this.select()">
          {% else %}
            <input class="input100" type="text" name="url" placeholder="Enter url">
          {% endif %}
          <span class="focus-input100"></span>
        </div>

        <div class="container-urlshort-form-btn">
          <button class="urlshort-form-btn">
            <span>
              <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
              Go
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript">
    console.log("Example using api: curl -X POST url.subgans.ru -d url='http://example.com/' -d api=1");
  </script>
</body>
</html>